<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% load cache %}

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="viewport" content="width=980px, initial-scale=10.0">
    <title>{% block title %}Титле{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

  <body>
    <div
      class="bg-image"
      style="
        background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/99.webp');
        height: 100vh;
      "
    ><!-- Background image -->
      {% include 'includes/nav.html' %}
      <main>
        <div class="container">
          {% block header %}{% endblock header %}
          {% load user_filters %}
          {% block content %}
            <div class="row justify-content-center">
              <div class="col-md-8 p-5">
                {% include 'includes/menu.html' %}
                <div class="card">
                  <div class="card-header" style="display: flex; justify-content: center">
                    {% block card_header %}{% endblock card_header %}
                  </div>
                  <div class="card-body">
                    {% block form %}
                    {% endblock form %}
                  </div> <!-- card body -->
                </div> <!-- card -->
              </div> <!-- col -->
            </div> <!-- row -->
          {% endblock content %}
        </div><!-- container-->
      </main>
    </div><!-- Background image -->
    {% cache 3600 footer %}  <!-- 1 hour-->
      {% include 'includes/footer.html' %}
    {% endcache %}
  </body>
</html>