<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru"> <!-- Язык сайта - русский -->
{% load static %}
  <head>
    <!-- Загрузка статики -->
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
      {% block title %}Проверь свого Питона!{% endblock %}
    </title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    >
  </head>

  <body>
    <div>
     {% include 'includes/nav.html' %}
      <main>
        <div
          class="bg-image"
          style="
            background-image: url('https://mdbcdn.b-cdn.net/img/new/fluid/nature/015.webp');
            height: 100vh;
          "
        >
          <div class="mask h-100" style="background-color: rgba(0, 0, 0, 0.6);">
            <h1 class="text-white text-center mb-0">{% block header %}Где хэдер?{% endblock %}</h1>
            {% block content %}
              No content
            {% endblock content %}
          </div>
        </div>
      </main>
      {% include 'includes/footer.html' %}
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous">
    </script>
  </body>
</html>






